---
apiVersion: kustomize.config.k8s.io/v1beta1
kind: Kustomization
resources:
  - ../../components/app
namespace: "audiobookrequest"
namePrefix: "audiobookrequest-"
images:
  - name: "markbeep/audiobookrequest"
    newTag: "1.7.0"
configMapGenerator:
  - name: app-config
    envs:
      - "app_config.env"
